<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/libraryStyles.css">
    <title>Читатель</title>
</head>
<body>
<div th:replace="index :: header"></div>
<p class="pageName">Читатель <span th:text="${reader.name}"></span></p>
<form method="post" th:action="@{/readers/{id}/edit(id=${reader.id})}" class="container-fluid   ">
    <div class="row tableRow">
        <div class="col-sm">
            <span class="info">№ читательского билета:</span>
            <span class="info" th:text="${reader.id}"></span>
        </div>
    </div>
    <div class="row tableRow">
        <div class="col-sm-1 info tableVerticalLineRight">ФИО: </div>
        <div class="col-sm">
            <input type="text" name="name" th:value="${reader.name}" class="internalButton info">
        </div>
    </div>
    <div class="row tableRow">
        <div class="col-sm-1 info tableVerticalLineRight">Адрес: </div>
        <div class="col-sm">
            <input type="text" name="address" th:value="${reader.address}" class="internalButton info">
        </div>
    </div>
    <div class="row tableRow">
        <div class="col-sm-1 info tableVerticalLineRight">Телефон: </div>
        <div class="col-sm">
            <input type="text" name="phone" th:value="${reader.phone}" class="internalButton info">
        </div>
    </div>
    <div class="row tableRow">
        <div class="col-sm">
            <button type="submit" class="internalButton">Изменить</button>
        </div>
    </div>
    <div class="row tableRow"></div>
</form>
<p>Вы можете поменять личные данные читателя и сохранить изменения, нажав на кнопку.</p>

<p class="pageName" style="margin-bottom: 0px;">История:</p>
<div class="container-fluid" style="width: 100%;"> <!-- История -->
    <div class="row tableRow tableHeaderRow">
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">Событие</p>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">ID книги</p>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">Название книги</p>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">Дата</p>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">Срок возврата</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
    <div th:each="event : ${eventsList}">
        <div class="row tableRow">
            <div class="col-sm tableVerticalLineRight">
                <p th:if="${event.issue}" class="tableText">Выдача</p>
                <p th:if="${!event.issue}" class="tableText">Возврат</p>
            </div>
            <div class="col-sm tableVerticalLineRight">
                <a th:href="@{/books/{id}(id=${event.bookId})}">
                    <p th:text="${event.bookId}" class="tableText"></p>
                </a>
            </div>
            <div class="col-sm tableVerticalLineRight">
                <a th:href="@{/products?name={name}(name=${event.bookName})}">
                    <p th:text="${event.bookName}" class="tableText"></p>
                </a>
            </div>
            <div class="col-sm tableVerticalLineRight">
                <p th:text="${event.date}" class="tableText"></p>
            </div>
            <div class="col-sm tableVerticalLineRight">
                <p th:if="${event.deadline == null}" class="tableText">-</p>
                <p th:text="${event.deadline}" class="tableText"></p>
            </div>
            <form method="post" th:action="@{/readers/{id}/extend(id=${reader.id})}" th:if="${event.isCurrentlyIssued}" class="inlineForm">
                <input type="hidden" name="issueId" th:value="${event.issueId}">
                <div class="col-sm-1 tableVerticalLineRight">
                    <input type="date" name="date" class="internalButton">
                </div>
                <div class="col-sm-1 tableVerticalLineRight">
                    <button type="submit" class="internalButton">Изменить срок возврата</button>
                </div>
            </form>
            <form method="post" action="/return" th:if="${event.isCurrentlyIssued}" class="col-sm-1 tableVerticalLineRight">
                <input type="hidden" name="bookId" th:value="${event.bookId}">
                <button type="submit" class="internalButton">Вернуть книгу</button>
            </form>
            <div class="col-sm-1 tableVerticalLineRight" th:if="${!event.isCurrentlyIssued}"></div>
            <div class="col-sm-1 tableVerticalLineRight" th:if="${!event.isCurrentlyIssued}"></div>
            <div class="col-sm-1" th:if="${!event.isCurrentlyIssued}"></div>
        </div>
    </div>
    <div class="row tableRow"></div>
    <div class="row tableRow">
        <div class="col-sm tableVerticalLineRight"></div>
        <div class="col-sm tableVerticalLineRight">
            <form method="get" action="/issue">
                <input type="hidden" name="readerId" th:value="${reader.id}">
                <button type="submit" class="internalButton">Выдать книгу</button>
            </form>
        </div>
        <div class="col-sm tableVerticalLineRight"></div>
    </div>
    <div class="row tableRow"></div>
</div>
<p>Вы можете изменить срок возврата книги, указав новую дату в таблице. Отсутствие даты равносильно снятию ограничения на срок возврата.</p>
</body>
</html>